
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Ajax Test</h2>

        <h1> Enter number 1 :<input id="Text1" type="text" /> </h1>

        <h1> Enter number 2 :<input id="Text2" type="text" /> </h1>

        <input id="calc" type="button" value="button" />
        <div id="result">

        </div>

        <script src="~/Scripts/jquery-1.4.4.js"></script>
        <script>

            $(document).ready(function () {
                $("#calc").click(function () {
                    var nr1 = $("#Text1").val();
                    var nr2 = $("#Text2").val();

                    $.ajax({
                        url: '@Url.Action("Math", "Home")?nr1=' + nr1 + '&nr2=' + nr2,
                        success: function (data) {
                            if (data.status == "ok")
                            {
                                $("#result").html(data.result);

                            }
                        }
                    });
                });

            });
        </script>





    </div>
</body>
</html>
